In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data-final.csv", delimiter="\t")
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0

In [8]:
df.shape

(1015341, 110)

In [18]:
df.isnull().sum()

EXT1                     1783
EXT2                     1783
EXT3                     1783
EXT4                     1783
EXT5                     1783
                         ...
endelapse                   0
IPC                         0
country                    77
lat_appx_lots_of_err        0
long_appx_lots_of_err       0
Length: 110, dtype: int64

In [21]:
df = df.dropna()

In [23]:
df.isnull().sum()

EXT1                     0
EXT2                     0
EXT3                     0
EXT4                     0
EXT5                     0
                        ..
endelapse                0
IPC                      0
country                  0
lat_appx_lots_of_err     0
long_appx_lots_of_err    0
Length: 110, dtype: int64

In [24]:
len(df)

1012050

## EXT (Extroversion - E)

In [29]:
EXT1_sum = df.EXT1.sum()/len(df)
EXT2_sum = df.EXT2.sum()/len(df)
EXT3_sum = df.EXT3.sum()/len(df)
EXT4_sum = df.EXT4.sum()/len(df)
EXT5_sum = df.EXT5.sum()/len(df)
EXT6_sum = df.EXT6.sum()/len(df)
EXT7_sum = df.EXT7.sum()/len(df)
EXT8_sum = df.EXT8.sum()/len(df)
EXT9_sum = df.EXT9.sum()/len(df)
EXT10_sum = df.EXT10.sum()/len(df)

In [51]:
EXT = 10 + EXT1_sum - EXT2_sum + EXT3_sum - EXT4_sum + EXT5_sum - EXT6_sum + EXT7_sum - EXT8_sum + EXT9_sum - EXT10_sum
EXT

9.661759794476556

## EST (Neuroticism - N)

In [34]:
EST1_sum = df.EST1.sum()/len(df)
EST2_sum = df.EST2.sum()/len(df)
EST3_sum = df.EST3.sum()/len(df)
EST4_sum = df.EST4.sum()/len(df)
EST5_sum = df.EST5.sum()/len(df)
EST6_sum = df.EST6.sum()/len(df)
EST7_sum = df.EST7.sum()/len(df)
EST8_sum = df.EST8.sum()/len(df)
EST9_sum = df.EST9.sum()/len(df)
EST10_sum = df.EST10.sum()/len(df)

In [35]:
EST = 38 - EST1_sum + EST2_sum - EST3_sum + EST4_sum - EST5_sum - EST6_sum - EST7_sum - EST8_sum - EST9_sum - EST10_sum
EST

19.416079245096594

## AGR (Agreeableness - A)

In [36]:
AGR1_sum = df.AGR1.sum()/len(df)
AGR2_sum = df.AGR2.sum()/len(df)
AGR3_sum = df.AGR3.sum()/len(df)
AGR4_sum = df.AGR4.sum()/len(df)
AGR5_sum = df.AGR5.sum()/len(df)
AGR6_sum = df.AGR6.sum()/len(df)
AGR7_sum = df.AGR7.sum()/len(df)
AGR8_sum = df.AGR8.sum()/len(df)
AGR9_sum = df.AGR9.sum()/len(df)
AGR10_sum = df.AGR10.sum()/len(df)

In [37]:
AGR = 14 - AGR1_sum + AGR2_sum - AGR3_sum + AGR4_sum - AGR5_sum + AGR6_sum - AGR7_sum + AGR8_sum + AGR9_sum + AGR10_sum
AGR

27.589762363519593

## CSN (Conscientiousness - C)

In [38]:
CSN1_sum = df.CSN1.sum()/len(df)
CSN2_sum = df.CSN2.sum()/len(df)
CSN3_sum = df.CSN3.sum()/len(df)
CSN4_sum = df.CSN4.sum()/len(df)
CSN5_sum = df.CSN5.sum()/len(df)
CSN6_sum = df.CSN6.sum()/len(df)
CSN7_sum = df.CSN7.sum()/len(df)
CSN8_sum = df.CSN8.sum()/len(df)
CSN9_sum = df.CSN9.sum()/len(df)
CSN10_sum = df.CSN10.sum()/len(df)

In [39]:
CSN = 14 + CSN1_sum - CSN2_sum + CSN3_sum - CSN4_sum + CSN5_sum - CSN6_sum + CSN7_sum - CSN8_sum + CSN9_sum + CSN10_sum
CSN

23.543337779753962

## OPN (Openness to Experience - O)

In [40]:
OPN1_sum = df.OPN1.sum()/len(df)
OPN2_sum = df.OPN2.sum()/len(df)
OPN3_sum = df.OPN3.sum()/len(df)
OPN4_sum = df.OPN4.sum()/len(df)
OPN5_sum = df.OPN5.sum()/len(df)
OPN6_sum = df.OPN6.sum()/len(df)
OPN7_sum = df.OPN7.sum()/len(df)
OPN8_sum = df.OPN8.sum()/len(df)
OPN9_sum = df.OPN9.sum()/len(df)
OPN10_sum = df.OPN10.sum()/len(df)

In [41]:
OPN = 8 + OPN1_sum - OPN2_sum + OPN3_sum - OPN4_sum + OPN5_sum - OPN6_sum + OPN7_sum + OPN8_sum + OPN9_sum + OPN10_sum
OPN

28.719190751445087

In [53]:
EXT = round(EXT, 1)
EST = round(EST, 1)
AGR = round(AGR, 1)
CSN = round(CSN, 1)
OPN = round(OPN, 1)

In [54]:
print(f"Final mean:\n{EXT = }\n{EST = }\n{AGR = }\n{CSN = }\n{OPN = }")

Final mean:
EXT = 9.7
EST = 19.4
AGR = 27.6
CSN = 23.5
OPN = 28.7